<a href="https://colab.research.google.com/github/manthra16695/Code-360/blob/main/Chronic_Kidney_disease_DT_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df=pd.read_csv('/content/sample_data/CKD.csv')

In [ ]:
df.head()
df=df.drop(columns=['ID'])

In [ ]:
df.head()

   Age  Female Racegrp  Educ  Unmarried  ...  CVD Fam CVD  CHF  Anemia  CKD
0   65       1   white   0.0        0.0  ...  1.0     0.0  0.0     0.0  0.0
1   36       1   hispa   0.0        NaN  ...  0.0     0.0  0.0     0.0  0.0
2   66       1   white   0.0        1.0  ...  0.0     0.0  0.0     0.0  0.0
3   54       1   white   1.0        0.0  ...  0.0     0.0  0.0     0.0  0.0
4   63       1   black   0.0        0.0  ...  0.0     0.0  0.0     0.0  0.0

[5 rows x 33 columns]

In [ ]:
pd.crosstab(index=1,columns=df['CKD'])
df['Income']

0       1.0
1       1.0
2       0.0
3       0.0
4       NaN
       ...
8814    1.0
8815    0.0
8816    NaN
8817    NaN
8818    0.0
Name: Income, Length: 8819, dtype: float64

In [ ]:
##Statistical Tests
df.dtypes
##object
female
educ
unmarried
Income
Caresource##convert to binary
Insured
Obese
Dyslipidemia          
PVD 
activity
poorvision
Smoker                
Hypertension        
Fam Hypertension     
Diabetes            
Fam Diabetes         
Stroke              
CVD                 
Fam CVD             
CHF                 
Anemia              


##Numeric
Height
Weight
BMI
Waist
SBP
DBPHDL
LDL
Total Chol

Age                   int64
Female                int64
Racegrp              object
Educ                float64
Unmarried           float64
Income              float64
CareSource           object
Insured             float64
Weight              float64
Height              float64
BMI                 float64
Obese               float64
Waist               float64
SBP                 float64
DBP                 float64
HDL                 float64
LDL                 float64
Total Chol          float64
Dyslipidemia          int64
PVD                   int64
Activity            float64
PoorVision          float64
Smoker                int64
Hypertension        float64
Fam Hypertension      int64
Diabetes            float64
Fam Diabetes          int64
Stroke              float64
CVD                 float64
Fam CVD             float64
CHF                 float64
Anemia              float64
CKD                 float64
dtype: object

In [ ]:
# Numlist=[Weight,Height,BMI,Obese,Waist,SBP,DBP,HDL,LDL,Total Chol]
Objlist=['Female'              ,
'Educ'                ,
'Unmarried'           ,
'Income'              ,
'CareSource'          ,
'Insured'             ,
'Obese'               ,
'Dyslipidemia'        ,
'PVD',
'Activity'         ,
'PoorVision'          ,
'Smoker'              ,
'Hypertension'        ,
# 'Fam Hypertension'    ,
'Diabetes'            ,
# 'Fam Diabetes'        ,
'Stroke'              ,
'CVD'                 ,

'CHF'                 ,
'Anemia'                     ]


for i in Objlist:
  df[i]=df[i].astype(object)

In [ ]:
df['Fam Diabetes']=df['Fam Diabetes'].astype('object')
df['Fam Diabetes']=df['Fam Diabetes'].astype('object')

In [ ]:
df['Fam CVD']=df['Fam CVD'].astype('object')

In [ ]:
df.dtypes

Age                   int64
Female               object
Racegrp              object
Educ                 object
Unmarried            object
Income               object
CareSource           object
Insured              object
Weight                int64
Height                int64
BMI                   int64
Obese                object
Waist                 int64
SBP                   int64
DBP                   int64
HDL                   int64
LDL                   int64
Total Chol            int64
Dyslipidemia         object
PVD                  object
Activity             object
PoorVision           object
Smoker               object
Hypertension         object
Fam Hypertension      int64
Diabetes             object
Fam Diabetes         object
Stroke               object
CVD                  object
Fam CVD              object
CHF                  object
Anemia               object
CKD                 float64
dtype: object

In [ ]:
#imputing numeric variables with mean values
df=df.fillna(df.mean())

In [ ]:
##Converting all Numeric variables as int
numlist=['Height',
'Weight',
'BMI',
'Waist',
'SBP',
# 'DBPHDL',
'LDL',
'Total Chol']

for i in numlist:
  df[i]=df[i].astype(int)

In [ ]:
df['DBP']=df['DBP'].astype(int)
df['HDL']=df['HDL'].astype(int)

In [ ]:
#Target Variable
df['CKD']=df['CKD'].astype('object')

In [ ]:
##train test 
y_train=df['CKD']
x_train=df.drop(['CKD'],axis=1)

In [ ]:
##train test split
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(x_train,y_train,test_size=0.2)

In [142]:
df.head()

   Age Female Racegrp Educ Unmarried  ... CVD Fam CVD CHF  Anemia  CKD
0   65      1   white    0         0  ...   1       0   0       0    0
1   36      1   hispa    0  0.368591  ...   0       0   0       0    0
2   66      1   white    0         1  ...   0       0   0       0    0
3   54      1   white    1         0  ...   0       0   0       0    0
4   63      1   black    0         0  ...   0       0   0       0    0

[5 rows x 33 columns]

In [141]:
import numpy as np

from sklearn.decomposition import PCA

pca=PCA(n_components=3)
fit=pca.fit(X_train)

# summarize components
print("Explained Variance: %s" % fit.explained_variance_ratio_)
print(fit.components_)

ValueError: ignored